<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image }}" class="footer__logo__img">
		</a>
		{% else %}
		<!-- <a href="/" class="footer__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a> -->
		{% endif %}

		<!-- <p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p> -->

		<div class="footer__copyright">
			<span>© 2016-{{ 'now' | date: "%Y" }} Griffin Photography • Bryllupsfotograf i Oslo Norway </span>
		</div>
		<!-- • <a href="https://www.instagram.com/{{ site.data.settings.footer_settings.instagram }}" target="_blank">instagram</a> •
		<a href="https://www.instagram.com/{{ site.data.settings.footer_settings.instagram }}" target="_blank">facebook</a> -->

		{% include socials.html %}

	</div>

</footer>